body {
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.create-domain-form, .create-user-form {
    max-width: 400px;
}

.create-domain-form, .create-user-form, .domain-users-form {
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.table-like-row [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.table-like-row [class*="col-"].has-button {
    padding: 8px 15px;
}

.expense-row {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
}

.expense-row .expense-form-errors.has-errors {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.expense-row .expense-basic .form-group .form-control {
    width: auto;
}

.expense-entry-add-btn {
    margin: 15px auto;
}

/*.logout-btn {
    padding: 15px 12px;
}*/